<ion-content  [fullscreen]="true" [scrollY]="false">
  <div class="flex-column-center">
    <div class="talk-image">
      <img class="image" src='../../assets/images/VisualNovels/{{novel[currentTalk].actorImage}}' alt="TalkActor">
    </div>
    <div class="dialog">
      <p class="talk-text">{{novel[currentTalk].talkingText}}</p>
      <div class="flex space-around">
        <ion-button class="background-red" (click)="back()">Voltar</ion-button>
        <ion-button class="background-green" (click)="continue()">Continuar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
