<ion-content  [fullscreen]="true" [scrollY]="false">
  <div class="center">
    <div class="steps">
      <div class="row desktop">
        <div class="step-top"></div>
        <div class="step-top"></div>
        <div class="step-top"></div>
        <div class="step-top"></div>
        <div class="step-top"></div>
      </div>
      <div class="middle">
        <div class="roller"></div>
        <div class="roller"></div>
        <div class="roller"></div>
        <div class="roller"></div>
        <div class="roller"></div>
      </div>
      <div class="row bottom">
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
      </div>
    </div>
  </div>
</ion-content>
